:root{
    --background-color: #f8f9fa;
    --component-color: #007bff;
    --sidebar-color: #e9ecef;
    --font-color: #333;
    --component-font-color: #fff;
    --component-hover-color:#0056b3;
    --component-hover-border-color:#004085;
    --border-color: #000;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;}
Estilos básicos */
body {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Estilos globales*/
.info {
    color: red;
    font-size: 14px;
}

/* Estilos del header y navbar */
.navbar {
    background-color: var(--component-color);
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.navbar .nav-link {
    font-size: 16px;
}

/* Estilos del contenedor principal */
.main-container {
    flex: 1;
    margin-left: 0;
    margin-right: 0;
}

/* Estilos del aside (barra lateral) */
.sidebar bg-light {
    width: 100px;
    background-color: var(--sidebar-color);
    padding: 20px;
    height: 100vh;
}

.sidebar .nav-link {
    font-size: 16px;
    color: var(--font-color);
    background-color: var(--sidebar-color);
}

.sidebar .nav-link:hover {
    color: var(--component-color);
}

/* Estilos del main (contenido central) */
.content {
    margin-left: 100px;
}

.charts h2 {
    color: var(--component-color);
    font-size: 24px;
    font-weight: bold;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--sidebar-color);
}

.card-title {
    color: var(--component-color);
    background-color: var(--sidebar-color);
}

.card-header{
    border-bottom: 1px solid var(--border-color);
}

/* Estilos del botón */

.btn{
    color : var(--component-font-color);
}

.btn-primary {
    background-color: var(--component-color);
    border-color: var(--component-color);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: var(--component-hover-color);
    border-color: var(--component-hover-border-color);
}


/* Estilos de la tabla */
.form-control{
    background-color: var(--sidebar-color);
    color: var(--font-color)
}

.dataTable{
    background-color: var(--sidebar-color);
}

td{
    background-color: var(--sidebar-color);
}

table.dataTable.display tbody tr.odd > .sorting_1{
    background-color: var(--sidebar-color);
}

table.dataTable.display tbody tr.even > .sorting_1{
    background-color: var(--sidebar-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background-color: var(--sidebar-color);
    border-color: var(--border-color);
    background: linear-gradient(to bottom, var(--sidebar-color) 0%, #454545 100%);
    color: var(--font-color) !important;
}

/* .dataTables_wrapper .dataTables_length{
    color: var(--font-color);
} */

.dataTables_wrapper .dataTables_filter{
    color: var(--font-color);
}

.dataTables_wrapper .dataTables_length select{
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Estilos del footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--component-color);
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}
