<!-- components/sidebar.html -->
<aside class="sidebar bg-light">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="tickets.html">Tickets</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Reportes</a></li>
        <li class="nav-item"><a class="nav-link" href="usuarios.html">Usuarios</a></li>
        <li class="nav-item"><a class="nav-link" href="config.html">Configuración</a></li>
    </ul>
</aside>