<!-- components/sidebar.html -->
<aside class="sidebar bg-light">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="tickets.html">Tickets</a></li>
        <li class="nav-item">
            <a class="nav-link" href="https://lookerstudio.google.com/u/0/reporting/d9d309a0-b57e-46f3-a98f-1508f5fb2838/page/p_zukcdf3ukd/edit" target="_blank">Reportes</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="usuarios.html">Usuarios</a></li>
        <li class="nav-item"><a class="nav-link" href="config.html">Configuración</a></li>
    </ul>
</aside>